<app-card headerText="about" class="text">
  <h1>Creating optimal solutions</h1>
  <h2>I am a software developer based in Manchester, UK. From working on existing software to taking applications from design to launch, I have been involved in all facets of the developement process. I pride myself on creating succint and efficient code.</h2>
</app-card>
<app-card headerText="front end skills" class="list">
  <ul>
    <li>HTML5</li>
    <li>CSS & SCSS</li>
    <li>Typescrpt (v5.1)</li>
    <li>Angular (v17)</li>
    <li>RxJs</li>
    <li>Angular state management (NgXs & NgRx)</li>
    <li>Angular libraries</li>
    <li>testing Tools (Cypress, Jasmine, Jest)</li>
    <li>React</li>
    <li>Next.js</li>
  </ul>
</app-card>
<app-card headerText="back end skills" class="list">
  <ul>
    <li>Node.js</li>
    <li>Nest.js</li>
    <li>PostgreSQL</li>
    <li>TypeORM</li>
    <li>AWS</li>
  </ul>
</app-card>
<app-card headerText="other tools" class="list">
  <ul>
    <li>Figma</li>
    <li>Adobe illustrator</li>
    <li>Versioning (Git, Jira, Bitbucket)</li>
  </ul>
</app-card>
<app-footer/>