<app-card headerText="about" class="text">
  <h1>Creating optimal solutions</h1>
  <h2>I am a software developer based in Manchester, UK. From working on existing software to taking applications from design to launch, I have been involved in all facets of the developement process. I pride myself on creating succint and efficient code.</h2>
</app-card>
<app-card headerText="front end skills" class="list">
  <ul>
    @for (frontEndSkill of frontEndSkillsArr(); track frontEndSkill) {
      <li>{{ frontEndSkill }}</li>
    }
  </ul>
</app-card>
<app-card headerText="back end skills" class="list">
  <ul>
    @for (backEndSkill of backEndSkillsArr(); track backEndSkill) {
      <li>{{ backEndSkill }}</li>
    }
  </ul>
</app-card>
<app-card headerText="other tools" class="list">
  <ul>
    @for (otherSkill of otherSkillsArr(); track otherSkill) {
      <li>{{ otherSkill }}</li>
    }
  </ul>
</app-card>
  <app-card headerText="experience" class="experience">
    <app-experience-card
    title="Workview"
    description="Human resources SaaS"
    date="Dec 2023 - current"
    text="Workview was a project started by myself and a few other developers, tasking ourselves with creating an all-in-one business management tool. As the soul front-end developer, my role was to research and build the optimal archicture required for managing and displaying data. To date, the core MVP model has been completed, but I have taken a step back from the project to learn new technologies and pursue different avenues."
  />
  <app-experience-card
  title="Appacut"
  description="Manchester based mobile barbering app"
  date="Apr 2023 - Dec 2023"
  text="Appacut was only in the design phase when I joined the team. My job was to build the web project from scratch using existing designs, maintain the product post-launch, and organise developers on any future features. Conception to launch took 6 months, including integrated e2e & unit testing, an independent library for state management for both web and app, and complex rewards systems for repeat customers."
  />
  <app-experience-card
    title="Clickwork"
    description="Internal business management software"
    date="Jan 2022 - Mar 2023"
    text="My roles included maintaining the existing codebase, design and build few features, and after a promotion after 6 months, onboard & manage junior developers. My most notable additions to Clickwork involved reducing loading times by 40%, refactoring the codebase to remove all memory leaks (which severly affected clients during long time use), and designed and built an invoice system alongside the legal department."
  />
</app-card>
<app-route-change-button buttonText="Contact me" routeTo="/contact"/>
<app-footer/>
